<aside class="aside__favourites js-aside">
  <button
    title="Cerrar favoritos"
    class="aside__favourites-close js-closeFav"
  ></button>
  <h2 class="aside__favourites-title">Series favoritas</h2>

  <ul class="aside__favourites-list js-favourites"></ul>
  <button
    class="aside__favourites-more js-moreButton"
    title="Mostrar todos los favoritos"
  >
    ···
  </button>
  <button
    title="Borrar todos los favoritos"
    class="js-clearFavourites aside__favourites-clear"
  >
    Borrar todos los favoritos
  </button>
</aside>
