//Font family:

$fontFamily: "Yanone Kaffeesatz", sans-serif;

//Colors:
$color-primary: #3e687e;
$color-secondary: #64938d;
$color-tertiary: #c4e5d4;

$color-dark: #2b4655;
$color-fav: #2d4d5e;

//High contrast colors: secondary palette
$color-hc-light: #e3f3eb;
$color-hc-medLight: #9fa3a1;
$color-hc-medium: #3a4246;
$color-hc-dark: #1c2022;
