body {
  background-color: $color-tertiary;
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url(../images/tv.svg);
  background-size: 200px;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;

  &__section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 50px 0px;
  }
  &__section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 50px 10px;
    border-radius: 20px;
    border-bottom-left-radius: 50% 2%;
    border-bottom-right-radius: 50% 2%;
    border: 25px solid $color-dark;
    border-right: 70px solid $color-dark;
    max-width: 470px;
    width: 90vw;
    min-height: 300px;
    height: auto;
    background-color: #538099;
    background-image: url(../images/tv-solid.svg);
    background-size: 100px;
    background-repeat: space;
    position: relative;
    &-label {
      margin: 5px;
      font-size: 60px;
      font-weight: 600;
      color: $color-tertiary;
    }
    &-input {
      max-width: 300px;
      width: 80%;
      height: 30px;
      margin: 0px 0px 10px 0px;
      outline: none;
      border-radius: 10px;
      border: none;
      padding: 10px 10px 5px 10px;
      font-size: 20px;
      color: $color-dark;
      &::placeholder {
        font-size: 20px;
      }
    }
    &-button {
      width: 100px;
      height: 50px;
      outline: none;
      border-radius: 15px;
      border: 2px solid $color-tertiary;
      background-color: $color-primary;
      font-size: 30px;
      padding: 5px;
      color: $color-tertiary;
      transition: ease 1s;
      &:hover {
        transform: scale(1.2);
        cursor: pointer;
        cursor: hand;
      }
      &--favs {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 2px $color-primary dotted;
        position: absolute;
        right: -55px;
        top: 10px;
        background-color: lightgray;
        background-image: url(../images/favs.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform ease 2s;
        outline: none;
        &:hover {
          transform: rotate(360deg);
          cursor: pointer;
          cursor: hand;
        }
      }
      &--themes {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 2px $color-primary dotted;
        position: absolute;
        right: -55px;
        top: 60px;
        background-color: lightgray;
        background-image: url(../images/cog-solid.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform ease 2s;
        outline: none;
        &:hover {
          transform: rotate(360deg);
          cursor: pointer;
          cursor: hand;
        }
      }
    }
  }
  &__result {
    height: auto;
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &-title {
      font-size: 30px;
      font-weight: 600;
      margin: auto 0px auto 0px;
      color: $color-dark;
    }
    &-item {
      margin: 15px 10px 15px 0px;
      width: 130px;
      height: 240px;
      border-radius: 15px;
      border: 2px solid $color-secondary;
      background-color: $color-primary;
      color: #a6cfca;
      padding: 10px 10px 33px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      text-align: center;
      position: relative;

      &-pic {
        max-width: 100px;
        width: auto;
        height: 150px;
      }
      &-title {
        margin: auto 0px;
      }
      &-button {
        width: 25px;
        height: 25px;
        background-color: transparent;
        background-image: url(../images/star-regular.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
        position: absolute;
        border: none;
        bottom: 5px;
        transition: ease 1s;
        outline: none;
        &:hover {
          transform: scale(1.2);
          background-image: url(../images/star-solid.svg);
          cursor: pointer;
          cursor: hand;
        }
      }
    }
  }
}

.js-selected {
  margin: 15px 10px 15px 0px;
  width: 130px;
  border-radius: 15px;
  border: 2px solid $color-secondary;
  background-color: $color-secondary;
  color: $color-fav;
  padding: 10px 10px 33px 10px;
  list-style-type: none;
  text-align: center;
}

.js-selectedButton {
  background-image: url(../images/star-solid.svg);
  &:hover {
    transform: scale(1.2);
    background-image: url(../images/star-regular.svg);
    cursor: pointer;
    cursor: hand;
  }
}

.js-hidden {
  display: none;
}

.js-body .main__section-form {
  background-image: none;
  background-color: $color-hc-dark;
  &-label {
    color: $color-hc-light;
  }
  &-button {
    color: $color-hc-light;
  }
}

.js-body .main__result {
  &-title {
    color: $color-hc-dark;
  }
  &-item {
    background-color: $color-hc-dark;
    color: $color-hc-light;
  }
}

.js-body .js-selected {
  background-color: $color-hc-medLight;
  color: $color-hc-dark;
}
