body {
  background-color: #c4e5d4;
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url(../images/tv.svg);
  background-size: 200px;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;

  &__section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 50px 0px;
  }
  &__section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 50px 10px;
    border-radius: 20px;
    border-bottom-left-radius: 50% 2%;
    border-bottom-right-radius: 50% 2%;
    border: 25px solid #2b4655;
    border-right: 70px solid #2b4655;
    width: 470px;
    height: 300px;
    background-color: #538099;
    background-image: url(../images/tv-solid.svg);
    background-size: 100px;
    background-repeat: space;
    position: relative;
    &-label {
      margin: 5px;
      font-size: 60px;
      font-weight: 600;
      color: #c4e5d4;
    }
    &-input {
      width: 300px;
      height: 30px;
      margin: 0px 0px 10px 0px;
      outline: none;
      border-radius: 10px;
      border: none;
      padding: 10px 10px 5px 10px;
      font-size: 20px;
      color: #2b4655;
      &::placeholder {
        font-size: 20px;
      }
    }
    &-button {
      width: 100px;
      height: 50px;
      outline: none;
      border-radius: 15px;
      border: 2px solid #c4e5d4;
      background-color: #3e687e;
      font-size: 30px;
      padding: 5px;
      color: #c4e5d4;
      transition: ease 1s;
      &:hover {
        transform: scale(1.2);
      }
      &--favs {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 2px #3e687e dotted;
        position: absolute;
        right: -55px;
        top: 10px;
        background-color: lightgray;
        background-image: url(../images/favs.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform ease 2s;
        outline: none;
        &:hover {
          transform: rotate(360deg);
        }
      }
      &--themes {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 2px #3e687e dotted;
        position: absolute;
        right: -55px;
        top: 60px;
        background-color: lightgray;
        background-image: url(../images/cog-solid.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform ease 2s;
        outline: none;
        &:hover {
          transform: rotate(360deg);
        }
      }
    }
  }
  &__result {
    height: auto;
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &-title {
      font-size: 30px;
      margin: auto 0px auto 0px;
      color: #2b4655;
    }
    &-item {
      margin: 15px 10px 15px 0px;
      width: 130px;
      border-radius: 15px;
      border: 2px solid #64938d;
      background-color: #3e687e;
      color: #a6cfca;
      padding: 10px 10px 33px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      text-align: center;
      position: relative;
      background-image: url(../images/star-regular.svg);
      background-repeat: no-repeat;
      background-size: 25px;
      background-position-x: center;
      background-position-y: 98%;
      &-pic {
        max-width: 100px;
        width: auto;
        height: 150px;
      }
      &-title {
        margin: auto 0px;
      }
    }
  }
}

.js-selected {
  margin: 15px 10px 15px 0px;
  width: 130px;
  border-radius: 15px;
  border: 2px solid #64938d;
  background-color: #64938d;
  color: #2d4d5e;
  padding: 10px 10px 33px 10px;
  list-style-type: none;
  text-align: center;
  background-image: url(../images/star-solid.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-x: center;
  background-position-y: 98%;
}

.js-hidden {
  display: none;
}
